<a href="https://colab.research.google.com/github/KeepTheSharp/Python_Reference/blob/main/python_dataStructures_2darray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

print(T[0])

print(T[1][2])   # Prints 10

[11, 12, 5, 2]
10

In [ ]:
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
for r in T:
   for c in r:
      print(c,end = " ")
   print()
                   # prints
                   # 11 12 5 2
                   # 15 6 10
                   # 10 8 12 5
                   # 12 15 8 6

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

In [ ]:
# 2D Arrays
# Inserting values

from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

T.insert(2, [0,5,11,13,6])

for r in T:
   for c in r:
      print(c,end = " ")
   print()

11 12 5 2
15 6 10
0 5 11 13 6
10 8 12 5
12 15 8 6

In [ ]:
# 2D Arrays
# Updating values

from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

T[2] = [11,9]
T[0][3] = 7
for r in T:
   for c in r:
      print(c,end = " ")
   print()

11 12 5 7
15 6 10
11 9
12 15 8 6

In [ ]:
# 2D arrays
# Deleting values

from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

del T[3]

for r in T:
   for c in r:
      print(c,end = " ")
   print()

11 12 5 2
15 6 10
10 8 12 5