<a href="https://colab.research.google.com/github/KeepTheSharp/Python_Reference/blob/main/python_dataStructures_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Mathematically a set is a collection of items not in any particular order. A Python set is similar to this mathematical definition with below additional conditions.

The elements in the set cannot be duplicates.

The elements in the set are immutable(cannot be modified) but the set as a whole is mutable.

!!!!There is no index attached to any element in a python set. So they do not support any indexing or slicing operation.!!!
"""

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

# Prints 
"""
set(['Wed', 'Sun', 'Fri', 'Tue', 'Mon', 'Thu', 'Sat'])
set(['Jan', 'Mar', 'Feb'])
set([17, 21, 22])
"""

{'Tue', 'Wed', 'Sun', 'Sat', 'Thu', 'Mon', 'Fri'}
{'Feb', 'Jan', 'Mar'}
{17, 21, 22}

In [ ]:
# SETS
# Accessing a value - We cannot access individual values in a set. 
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
 
for d in Days:
   print(d)

Tue
Wed
Sun
Sat
Thu
Mon
Fri

In [ ]:
# SETS
# Adding an item
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.add("Sun")
print(Days)

In [ ]:
# SETS
# Deleting an item.
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.discard("Sun")
print(Days)
# prints:
# {'Tue', 'Wed', 'Sat', 'Thu', 'Mon', 'Fri'}

{'Tue', 'Wed', 'Sat', 'Thu', 'Mon', 'Fri'}

In [ ]:
# SETS
# Union of sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)
# prints:
# {'Tue', 'Wed', 'Sun', 'Sat', 'Thu', 'Mon', 'Fri'}

{'Tue', 'Wed', 'Sun', 'Sat', 'Thu', 'Mon', 'Fri'}

In [ ]:
# SETS
# Intersection of sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)
# prints
# {'Wed'}

{'Wed'}

In [ ]:
# SETS
# Difference of Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)
# prints
# set(['Mon', 'Tue'])

{'Mon', 'Tue'}

In [ ]:
# SETS
# Compare sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)
# Prints
# True
# True

True
True